*{
    margin: 0;
    padding: 0;
}

.calculator{
    background-image: linear-gradient(to right ,black, rgb(21, 78, 95));
    height: 100vh;
    color: white;
    padding-top: 40px;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
.container{
    border: 2px solid gray;
    width: 250px;
    margin: auto;
    height: 450px;
    padding: 0;
    margin-top: 55px;
    border-radius: 8px;
}
.topmenu{
    height: 20%;
    text-align: end;
    padding: 6px;

}
.inputbtn{
    background-color: transparent;
    color: white;
    width: 100%;
    text-align:right;
    border: none;

}
.screan{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    border-bottom: 1px solid gray;
    font-size: 30px;
    padding: 10px;
}
.rows{
    margin: 9px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
button{
    font-size: 21px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    border-color: transparent;
}
button:hover{
    background-color: rgb(133, 133, 133);
    color: black;
}
#equalto{
    background-color: coral;
}
.operator{
    color: coral;
}


